
@media screen and (max-width: 880px) {

    .scale-item {

        &:nth-child(7)::after {

            right:-2px;
        }


        &:nth-child(13)::after {

            right:0px;
        }

        &:nth-child(19)::after {

            right:0px;
        
        }
}
}


@media screen and (max-width: 780px) {

    .scale-item {

        &:nth-child(7)::after {

            right:4px;
        }


        &:nth-child(13)::after {

            right:6px;
        }

        &:nth-child(19)::after {

            right:6px;
        
        }
}

    .week-day {
        flex-wrap: wrap;
    }

    .scale {
        margin-left:0;
        margin-top: 20px;
        width: 75vw;
        margin-bottom: 20px;
    }

    
}

@media screen and (max-width: 680px) {
    .avatar {
        width: 13vh;
        height: 13vh;
    }

    .user-name {
        font-size: 20px;
    }

    .user-position {

        font-size: 16px;

    }

    .user-phone {
        font-size: 14px;

    }
}


@media screen and (max-width:580px) {

   

    .scale-item {

        &:nth-child(7)::after {

            right:-2px;
        }


        &:nth-child(13)::after {

            right:0px;
        }

        &:nth-child(19)::after {

            right:0px;
        
        }

    }
}

@media screen and (max-width:480px) {
.main {
    padding: 20px 5px;
    
}

.header {
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.user-phone {
align-self: center;
}
.week-day {
    padding: 20px 15px 20px 20px;
}
}