.header {
padding: 10px 30px;
display: flex;
justify-content: space-between;
align-items: center;
border:1px solid lightgrey;
box-shadow: 2px 2px 2px lightgrey;
background-color: #fff;
}

.avatar {
    height: 13vh;
    width: 13vh;
    border-radius: 50%;
    margin-bottom: 5px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-name {
        font-size: 18px;
        margin-bottom: 5px;
    }

&-position {
    margin-bottom:0;
    font-size: 14px;

}

&-phone {
    font-size: 14px;
    align-self: flex-end;

}

}

.fa-mobile-alt {
    color: #00A97B;

}